<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koyejo Gamaliel Adinlewa, esq | Software Engineer</title>
    <meta name="desciption" content="Koyejo, a trained lawyer turned Software Engineer, showcasing mastery in C, Python, JavaScript, shell scripting, web stack management, web development. Explore a portfolio highlighting diverse projects and a journey from law to tech. Seeking opportunities to contribute skills in back end development, Python, JS, SQL, and more.">
</head>
<body>
    <h1>Hello world, Welcome to Koyejo</h1>
</body>
</html>